/* not working as of yet... */
Navbar-1{ 
    font-family: 'ThatNogoFontCasual'; 
    font-weight: bolder; 
    font-style: normal;
    color: yellow;
    font-size: 1em; 
 }
 .navbar-fixed-top {
    min-height: 180px;
    }