h1, p {
font-family: 'Droid Sans', sans-serif;
text-align: center;
color: #070e99;
}

/*body {

	  margin: 90px;
  border: 10px;
  padding: 30px;
  width:40%;
  border-color:#2146b7;
  background-color: ;
}*/